
#ar-container
    h1 Live Augmented Reailty
    p Please use Google Chrome - other browsers aren't yet ready for HTML5 mediastreaming
    p 
    div
      video#live(width='640', height='480', autoplay='autoplay', style='display: inline;')
    p
    p Remember to enable mediastream/PeerConnection via chrome://flags
    p See "Enable Media Source API on <video> elements." & "Enable PeerConnection."

    .demo
      #dialog(title='Basic dialog')
        p
          | This is an animated dialog which is useful for displaying information. 
          | The dialog window can be moved, resized and closed with the 'x' icon.
      button#opener Open Dialog

script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/jquery-ui-1.8.18.custom.min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/views/ar.js')