
#ar-container
    h1 Live Augmented Reality
    p Please use Google Chrome - other browsers aren't yet ready for HTML5 media-streaming.
      | Remember to enable mediastream/PeerConnection via chrome://flags
      | (see "Enable Media Source API on video elements." & "Enable PeerConnection.")
    div
      video#live(width='600', height='450', autoplay='autoplay', style='display: inline;')

#p-container
    .demo
      #dialog(title='Basic dialog')
        p Corrosion Assessment
          ul
            li Perform inspection of aircraft structure for corrosion
            li Perform removal of affected corroded areas by chemical/mechanical methods
            li Perform measurement of corrosion damage
            li Perform test of metal composites for corrosion
            li Perform non-destructive testing inspection (NDI) and interpret results

#v-container
    .demo
      #vdialog(title='Simulation')
        p 
          a#player(style='bgcolor=#FFFFFF'))
          ul
            li Hydraulic braking system 

.fg-toolbar.ui-widget-header.ui-corner-all.ui-helper-clearfix    
  .fg-buttonset.ui-helper-clearfix    
    button.fg-button.ui-state-default.ui-corner-all(id='tasks') Tasks
    button.fg-button.ui-state-default.ui-corner-all(id='sops') SOPs
    button.fg-button.ui-state-default.ui-corner-all(id='simulations') Simulations
    button.fg-button.ui-state-default.ui-corner-all(id='training') Training
    button.fg-button.ui-state-default.ui-corner-all(id='messages') Messages  

// That's it...scripts now

script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='http://cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js')
script(src='/vendor/jquery-ui-1.8.21.custom.min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/views/ar.js')