
#ar-container
    h1 Live Augmented Reailty
    p Please use Google Chrome - other browsers aren't yet ready for HTML5 mediastreaming
    p 
    div
      video#live(width='640', height='480', autoplay='autoplay', style='display: inline;')
    p
    p Remember to enable mediastream via chrome://flags
    aside#info(lang='en')
        .icon
        .text
          h1
            span HTML5
            | Webcam Toy
          p
            | This is a web app
            | Currently only the following browsers support getUserMedia and WebGL:
          ul
          li
            a(href='//www.google.com/chrome') Google Chrome
            | — go to
            code chrome:flags
            | and enable the “MediaStream” flag
          li
            a(href='//opera.com/browser/') Opera 12
            | — go to
            code opera:config
            | and
            a(href='opera:config#UserPrefs|EnableWebGL', target='_blank') enable WebGL
          li
            a(href='https://play.google.com/store/apps/details?id=com.opera.browser') Opera Mobile 12
            | — it works on Android!
            
script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/views/ar.js')