
#ar-container
    h1 Live Augmented Reality
    p Please use Google Chrome - other browsers aren't yet ready for HTML5 media-streaming.
      | Remember to enable mediastream/PeerConnection via chrome://flags
      | (see "Enable Media Source API on video elements." & "Enable PeerConnection.")
    div
      video#live(width='800', height='600', autoplay='autoplay', style='display: inline;')

#p-container
    .demo
      #dialog(title='Basic dialog')
        p Corrosion Assessment
          ul
            li Perform inspection of aircraft structure for corrosion
            li Perform removal of affected corroded areas by chemical/mechanical methods
            li Perform measurement of corrosion damage
            li Perform test of metal composites for corrosion
            li Perform non-destructive testing inspection (NDI) and interpret results

//- #button-container
    //- button(id='opener') Open Dialog
.fg-toolbar.ui-widget-header.ui-corner-all.ui-helper-clearfix    
  .fg-buttonset.ui-helper-clearfix    
    button.fg-button.ui-state-default.ui-corner-all(id='opener') Tasks
    button.fg-button.ui-state-default.ui-corner-all(id='messaging') Message
  
//- .fg-toolbar.ui-widget-header.ui-corner-all.ui-helper-clearfix
//- 
//-     .fg-buttonset.ui-helper-clearfix
//-        a.fg-button.ui-state-default.fg-button-icon-solo.ui-corner-all(title='Open', href='#')
//-          span.ui-icon.ui-icon-folder-open
//-          | Open
//-        a.fg-button.ui-state-default.fg-button-icon-solo.ui-corner-all(title='Save', href='#')
//-          span.ui-icon.ui-icon-disk
//-          | Save
//-        a.fg-button.ui-state-default.fg-button-icon-solo.ui-corner-all(title='Delete', href='#')
//-          span.ui-icon.ui-icon-trash
//-          | Delete
//-      .fg-buttonset.fg-buttonset-multi
//-        button.fg-button.ui-state-default.ui-corner-left
//-          b B
//-        button.fg-button.ui-state-default
//-          i I
//-        button.fg-button.ui-state-default.ui-corner-right
//-          u U
//-      .fg-buttonset.ui-helper-clearfix
//-        a.fg-button.ui-state-default.fg-button-icon-solo.ui-corner-all(title='Print', href='#')
//-          span.ui-icon.ui-icon-print
//-          | Print
//-        a.fg-button.ui-state-default.fg-button-icon-solo.ui-corner-all(title='Email', href='#')
//-          span.ui-icon.ui-icon-mail-closed
//-          | Email       
//-      .fg-buttonset.fg-buttonset-single.ui-helper-clearfix
//-        button.fg-button.ui-state-default.ui-state-active.ui-priority-primary.ui-corner-left Edit
//-        button.fg-button.ui-state-default.ui-priority-primary.ui-corner-right View

script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/jquery-ui-1.8.21.custom.min.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/views/ar.js')