
#camera-container
    h1 Live Video Stream v2
    p Please use Google Chrome - other browsers aren't yet ready for HTML5 mediastreaming
    p 
    //div
    //  video#live(width='320', height='240', autoplay='autoplay', style='display: inline;')
    //  canvas#canvas(width='320', height='240', style='display: inline;')
    div(style='visibility: hidden; width: 0; height: 0;')
    canvas#canvas(width='320', height='240')
    div
      video#live(width='320', height='240', autoplay='autoplay', style='display: inline;')
      img#target(style='display: inline;')    
    p
    p Remember to enable mediastream via chrome://flags

script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/form-validators/accountValidator.js')
script(src='/js/views/camera2.js')
//- script(src='/js/controllers/cameraController.js')