
#camera-container
    h1 Live Video Stream
    p Remember to enable mediastream in chrome://flags
     
    //- video#live(width='320', height='240', autoplay='autoplay')
    
script(src='/js/views/camera.js')
script(src='/js/controllers/cameraController.js')