
div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container-fluid
            ul#global-nav.nav.pull-left
                a(href='#').brand eyeQ Control Panel
            button#btn-fi.btn.btn-primary
                i.icon-eye-open.icon-white
                | Face Detection
            button#btn-logout.btn.btn-warning
                i.icon-lock.icon-white
                | Sign Out

include ar
//- include account
include modals/alert
include modals/confirm

script(src='/js/views/home-ar.js')
script(src='/js/controllers/homeArController.js')